/* 
 * AppVeyor REST API
 *
 * AppVeyor is a hosted continuous integration service which runs on Microsoft Windows.  The AppVeyor REST API provides a RESTful way to interact with the AppVeyor service.  This includes managing projects, builds, deployments, and the teams that build them.  Additional help and discussion of the AppVeyor REST API is available at http://help.appveyor.com/discussions  This Swagger definition is an **unofficial** description of the AppVeyor REST API maintained at https://github.com/kevinoid/appveyor-swagger Please report any issues or suggestions for this Swagger definition at https://github.com/kevinoid/appveyor-swagger/issues/new  #### API Conventions  Fields which are missing from update operations (`PUT` requests) are typically reset to their default values.  So although most fields are not technically required, they should usually be specified in practice. 
 *
 * OpenAPI spec version: 0.20170106.0
 * Contact: team@appveyor.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 */

using System;
using System.Collections.Generic;
using System.Collections.ObjectModel;
using System.Linq;
using Refit;
using Itofinity.Appveyor.Rest.Refit.Client;
using Itofinity.Appveyor.Rest.Refit.Model;

namespace Itofinity.Appveyor.Rest.Refit.Api
{
    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface IEnvironmentApi
    {
        #region Asynchronous Operations

        /// <summary>
        /// Add environment
        /// </summary>
        /// <remarks>
        /// 
        /// </remarks>
        /// <exception cref="Itofinity.Appveyor.Rest.Refit.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="body"></param>
        /// <returns>Task of DeploymentEnvironmentWithSettings</returns>
        [Post("/environments")]
        System.Threading.Tasks.Task<DeploymentEnvironmentWithSettings> AddEnvironment([Header("UserAgent")] string userAgent, [Body]DeploymentEnvironmentAddition body);

        /// <summary>
        /// Delete environment
        /// </summary>
        /// <remarks>
        /// 
        /// </remarks>
        /// <exception cref="Itofinity.Appveyor.Rest.Refit.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="deploymentEnvironmentId">Deployment Environment ID (&#x60;deploymentEnvironmentId&#x60; property of &#x60;DeploymentEnvironment&#x60;) </param>
        /// <returns>Task of void</returns>
        [Delete("/environments/{deploymentEnvironmentId}")]
        System.Threading.Tasks.Task DeleteEnvironment([Header("UserAgent")] string userAgent, [AliasAs("deploymentEnvironmentId")]int? deploymentEnvironmentId);

        /// <summary>
        /// Get environment deployments
        /// </summary>
        /// <remarks>
        /// 
        /// </remarks>
        /// <exception cref="Itofinity.Appveyor.Rest.Refit.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="deploymentEnvironmentId">Deployment Environment ID (&#x60;deploymentEnvironmentId&#x60; property of &#x60;DeploymentEnvironment&#x60;) </param>
        /// <returns>Task of DeploymentEnvironmentDeploymentsResults</returns>
        [Get("/environments/{deploymentEnvironmentId}/deployments")]
        System.Threading.Tasks.Task<DeploymentEnvironmentDeploymentsResults> GetEnvironmentDeployments([Header("UserAgent")] string userAgent, [AliasAs("deploymentEnvironmentId")]int? deploymentEnvironmentId);

        /// <summary>
        /// Get environment settings
        /// </summary>
        /// <remarks>
        /// 
        /// </remarks>
        /// <exception cref="Itofinity.Appveyor.Rest.Refit.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="deploymentEnvironmentId">Deployment Environment ID (&#x60;deploymentEnvironmentId&#x60; property of &#x60;DeploymentEnvironment&#x60;) </param>
        /// <returns>Task of DeploymentEnvironmentSettingsResults</returns>
        [Get("/environments/{deploymentEnvironmentId}/settings")]
        System.Threading.Tasks.Task<DeploymentEnvironmentSettingsResults> GetEnvironmentSettings([Header("UserAgent")] string userAgent, [AliasAs("deploymentEnvironmentId")]int? deploymentEnvironmentId);

        /// <summary>
        /// Get environments
        /// </summary>
        /// <remarks>
        /// 
        /// </remarks>
        /// <exception cref="Itofinity.Appveyor.Rest.Refit.Client.ApiException">Thrown when fails to make API call</exception>
        /// <returns>Task of List&lt;DeploymentEnvironmentLookupModel&gt;</returns>
        [Get("/environments")]
        System.Threading.Tasks.Task<List<DeploymentEnvironmentLookupModel>> GetEnvironments([Header("UserAgent")] string userAgent);

        /// <summary>
        /// Update environment
        /// </summary>
        /// <remarks>
        /// 
        /// </remarks>
        /// <exception cref="Itofinity.Appveyor.Rest.Refit.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="body"></param>
        /// <returns>Task of DeploymentEnvironmentWithSettings</returns>
        [Put("/environments")]
        System.Threading.Tasks.Task<DeploymentEnvironmentWithSettings> UpdateEnvironment([Header("UserAgent")] string userAgent, [Body]DeploymentEnvironmentWithSettings body);
        #endregion Asynchronous Operations
    }
}
